<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conjugaison!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
    #mainMenu {
      text-align:center;
      padding-top: 100px;
      font-family: sans-serif;
    }
    h1 {
      font-weight: bold;
      font-style: italic;
    }
    @media (orientation: portrait) {
      body {
        margin: 5vh;
      }
      .btn-block {
        height: 25vh;
        margin-bottom: 6vh;
      }
      #mainMenu {
        height: 25vh;
        padding: 0px;
      }
      h1 {
        font-size: 8vh;
        padding-top: 0vh;
        margin-bottom: 7vh;
      }
      #quizButton {
        padding: 10vh;
        font-size: 5vh;
        border-radius: 0.5em;
      }
      #reviewButton {
        padding: 10vh;
        font-size: 4vh;
        border-radius: 0.5em;
      }
      #overviewButton {
        padding: 10vh;
        font-size: 4vh;
        border-radius: 0.5em;
      }
    }
    </style>
  </head>
  <body>
  <div class="flex-container">
    <div class="row" id = "mainMenu">
        <div class="col-xs-12 col-md-12">
          <h1> Conjugaison!</h>
        </div>
    </div>
    <div class"row" id="mainButtons">
        <div class="col-xs-12 col-md-4">
          <a href="overview" class="btn-block" id="overviewButton"> Verbs Overview</a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="review" class="btn-block" id="reviewButton">Review with Flash Cards</a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="quiz" class="btn-block" id="quizButton">Quiz!</a>
        </div>
    </div>
  </div>
    <script src="library.js" charset="utf-8"></script>
    <script src="verbs.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
