<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Conjugaison!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
    #mainMenu {
      text-align:center;
      padding-top: 100px;
      font-family: sans-serif;
    }
    </style>
  </head>
  <body>

    <div id = "mainMenu">
        <h1> Conjugaison!</h>
        <p>
        <a href="overview" id="overviewButton"> Verbs Overview</a>
        <a href="review" id="reviewButton">Review with Flash Cards</a>
        <a href="quiz" id="quizButton">Quiz!</a>
        </p>
    </div>

    <script src="library.js" charset="utf-8"></script>
    <script src="verbs.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
