<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        text-align:left;
        font-family: sans-serif;
        margin: 80px;
      }
      h3 {
        color: red;
      }
      .table1 {display: inline-block;}
      .table2 {display: inline-block;}
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 12px;
      }
      .rowHeader {
        background-color: lightblue;
      }
      .practice {
        font-weight: bold;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <h1>Irregular Verbs</h2>
    <p> Here is a list of all of the irregular verbs that you
      can practice directly on this website.
    </p>
    <p>
      As mentioned before, there are several "sub-patterns" that some of these verbs follow.
      There aren't enough of them to be considered "regular" verbs, but they are helpful for learning conjugations.
      Many of the verbs in these sub-patterns come from the same word or share the same root,
      like <em>view</em> and <em>review</em> in English or <em>venir</em> and <em>devenir</em> in French. This
      isn't always the case though; there are some words which aren't derived from eachother and are still conjugated
      the same, like <em>mentir</em> and <em>sortir</em>.

    </p>
    <p>
      To help make them easier to learn, they are organized by "sub-pattern,"
      grouped under the verb that acts as their model.
      Similar to before with the regular verbs, only the model verb and one additional
      verb will be conjugated to display the pattern.
      <br><br>
      Because many of these verbs do not share a true pattern with other verbs, they will be conjugated
      alone.
      <br><br>
      <strong>Click the verbs to follow their conjugations:</strong>
    </p>
    <h4>No pattern
    </h4>
    <ul>
      <li>Être</li>
      <li>Avoir</li>
      <li>Devoir</li>
      <li>Pouvoir</li>
      <li>Aller</li>
      <li>Vouloir</li>
      <li>Savoir</li>
      <li>Falloir</li>
      <li>Voir</li>
      <li>Suivre</li>
      <li>Croire</li>
      <li>Servir</li>
      <li>Recevoir</li>
      <li>Vivre</li>
      <li>Lire</li>
      <li>Atteindre</li>
      <li>Boire</li>
      <li>Dormir</li>
      <li>Envoyer</li>
      <li>Asseoir</li>
      <li>Valoir</li>
      <li>Rire</li>
      <li>Accueillir</li>
      <li>Revetir</li>
      <li>Craindre</li>
      <li>Battre</li>
    </ul>
    <p>Verbs with sub-patterns:</p>
    <ul>
      <li>Connaître</li>
      <li>Reconnaître</li>
    </ul>
    <ul>
      <li>Courir</li>
      <li>Accourir</li>
    </ul>
    <ul>
      <li>Dire</li>
    </ul>
    <ul>
      <li>Ecrire</li>
    </ul>
    <ul>
      <li>Faire</li>
    </ul>
    <ul>
      <li>Ouvrir</li>
    </ul>
    <ul>
      <li>Mettre</li>
      <li>Remettre</li>
      <li>Permettre</li>
    </ul>
    <ul>
      <li>Partir</li>
      <li>Sortir</li>
      <li>Sentir</li>
      <li>Mentir</li>
    </ul>
    <ul>
      <li>Payer</li>
      <li>Essayer</li>
    </ul>
    <ul>
      <li>Prendre</li>
      <li>Comprendre</li>
      <li>Rependre</li>
      <li>Apprendre</li>
    </ul>
    <ul>
      <li>Tenir</li>
      <li>Venir</li>
      <li>Devenir</li>
      <li>Revenir</li>
      <li>Appartenir</li>
      <li>Obtenir</li>
      <li>Soutenir</li>
    </ul>
    <ul>
      <li>Traduire</li>
      <li>Cuire</li>
      <li>Conduire</li>
      <li>Produire</li>
    </ul>

    <h3 id='verbEtre'>Etre</h3>
    <h3 id='verbAvoir'>Avoir</h3>
    <h3 id='verbPouvoir'>Pouvoir</h3>
    <h3 id='verbDevoir'>Devoir</h3>
    <h3 id='verbAller'>Aller</h3>
    <h3 id='verbVouloir'>Vouloir</h3>
    <h3 id='verbSavoir'>Savoir</h3>
    <h3 id='verbFalloir'>Falloir</h3>
    <h3 id='verbVoir'>Voir</h3>
    <h3 id='verbSuivre'>Suivre</h3>
    <h3 id='verbCroire'>Croire</h3>
    <h3 id='verbServir'>Servir</h3>
    <h3 id='verbRecevoir'>Recevoir</h3>
    <h3 id='verbVivre'>Vivre</h3>
    <h3 id='verbLire'>Lire</h3>
    <h3 id='verbAtteindre'>Atteindre</h3>
    <h3 id='verbBoire'>Boire</h3>
    <h3 id='verbDormir'>Dormir</h3>
    <h3 id='verbEnvoyer'>Envoyer</h3>
    <h3 id='verbAsseoir'>Asseoir</h3>
    <h3 id='verbValoir'>Valoir</h3>
    <h3 id='verbRire'>Rire</h3>
    <h3 id='verbAccueillir'>Accueillir</h3>
    <h3 id='verbRevetir'>Revetir</h3>
    <h3 id='verbCraindre'>Craindre</h3>
    <h3 id="verbBattre">Battre</h3>

    <h3 id="verbCourir">Courir</h3>
    <p> Courir and accourir
    </p>

    <h3 id="verbConnaitre">Connaitre</h3>
    <p> Connaitre and reconnaitre
    </p>

    <h3 id="verbConnaitre">Connaitre</h3>
    <p> Connaitre and reconnaitre
    </p>

    <h3 id="verbDire">Dire</h3>
    <p> Dire
    </p>

    <h3 id="verbEcrire">Ecrire</h3>
    <p> Ecrire
    </p>

    <h3 id="verbFaire">Faire</h3>
    <p> Faire
    </p>

    <h3 id="verbOuvrir">Ouvrir</h3>
    <p> Ouvrir
    </p>

    <h3 id="verbMettre">Mettre</h3>
    <p> Mettre,Remettre, Permettre
    </p>

    <h3 id="verbPartir">Partir</h3>
    <p> Partir, sortir, sentir, mentir
    </p>

    <h3 id="verbPayer">Payer</h3>
    <p> Payer, essayer
    </p>

    <h3 id="verbPrendre">Prendre</h3>
    <p> Prendre, Comprendre, Rependre, Apprendre
    </p>

    <h3 id="verbTenir">Tenir</h3>
    <p> Tenir, Venir, Devenir, Revenir, Appartenir, Obtenir, Soutenir
    </p>

    <h3 id="verbTraduire">Traduire</h3>
    <p> Traduire, Cuire, Conduire, Produire
    </p>


    <script src="library.js" charset="utf-8"></script>
    <script src="verbs.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
