<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verbs Overview</title>
    <style>
    body {
      text-align:left;
      font-family: sans-serif;
      margin: 80px;
    }
    h3 {
      color: red;
    }
    .table1 {display: inline-block;}
    .table2 {display: inline-block;}
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 12px;
    }
    .rowHeader {
      background-color: lightblue;
    }
    .practice {
      font-weight: bold;
      font-style: italic;
    }
    </style>
  </head>
  <body>
    <h1>Overview of Verbs</h1>
    <p> Welcome to the Overview!<br>
      <br>
      Here you will be able to review basic grammar concepts that will help you know how each verb should be conjugated
      and what that will look like. In French, unlike English, all verbs are conjugated according to who the subject is,
      whether they are male or female, how many people are doing the action, and occasionally, also who or what the action is happening to.
      <br><br> Click one of the following categories to learn more about
      how to conjugate French verbs!
    </p>
    <h3>Menu</h3>
    <ul>
      <li><a href="#verbType"> Irregular vs Regular verbs </a></li>
      <li><a href="#basicTense"> Beginner Tenses</a></li>
      <li><a href="#helpingVerb"> Helping Verbs</a></li>
      <li><a href="#intermediateTense"> Intermediate Tenses</a></li>
      <li><a href="advancedTense"> Advanced Tenses</a></li>
      <li><a href="#expertTense"> Expert Tenses</a> </li>
      <li><a href="#bonusTense"> Bonus Tense</a></li>
    </ul>

    <h2 id="verbType"> Irregular vs Regular Verbs </h2>
    <p> First things first, French has several different ways of conjugating their verbs.
        If a verb conjugation follows a specific pattern shared by other verbs, it is said to be a <strong><em>regular</em></strong> verb, but if it doesn't follow a pattern,
      or say if it only follows a very small pattern with a handful of other verbs, it is <strong><em>irregular</em></strong>, because it must be memorized alone.
    </p>
    <p> <strong>There are three main kinds of regular verbs:</strong> </p>
    <ul>
      <li> verbs ending in <strong>"-er,"</strong> like <em>parler</em> </li>
      <li> verbs ending in <strong>"-re,"</strong> like <em>vendre</em> </li>
      <li> verbs ending in <strong>"-ir,"</strong> like <em>choisir</em></li>
    </ul>
    <p> Most of the time, when you are conjugating a regular verb, you are changing or replacing the end of the word
      and perhaps adding in a helping verb (like in English, <em> I jump, I <strong>will</strong> jump or I <strong>have</strong> jumped</em>).
      <br><br> Other times, especially in irregular verbs, you are changing the whole word when you conjugate it (also like in English, <em>I am, I was, I will be</em>).
    </p>
    <p> In the sections below, you will see a couple examples of how regular verbs are conjugated in the present tense so you understand how to apply the patterns to other regular verbs.
      The patterns for the other tenses will be given in their respective sections.
    </p>
    <p> <em><strong>Note:</strong> Not all verbs that have these endings are regular verbs. Many are irregular, and will be talked about in the <strong>Irregular Verbs</strong> section.</em>
    </p>

    <h3> Regular ER Verbs </h3>
      <p> All regular ER verbs can be conjugated in the same way. The "<em>-er</em>" gets dropped off of the word and replaced with an ending that reflects who is doing the action.
        English only does this for <em>he, she,</em> or <em>it</em> (like <em>I eat</em> vs <em>he eat<strong>s</strong></em>), but French does this for I, you (singular and plural), he, she, we, and they(male and female).
        The way a verb is conjugated depends on what <em>person</em> it is in.
        <br><br> Here are a couple of examples how regular ER verbs are conjugated in present tense. Notice how the ends of the words have been changed in the same way:
      </p>
      <div class="example">
      <table class="table1">
        <caption>Parler - To speak</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>parl<em><strong>e</strong></em></td>
          <td>Nous</td>
          <td>parl<em><strong>ons</strong></em></td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>parl<em><strong>es</em></strong></td>
          <td>Vous</td>
          <td>parl<em><strong>ez</em></strong></td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>parl<em><strong>e</em></strong></td>
          <td>Ils, elles</td>
          <td>parl<em><strong>ent</em></strong></td>
        </tr>
      </table>
      <table class="table2">
        <caption>Danser - To dance</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>dans<em><strong>e</strong></em></td>
          <td>Nous</td>
          <td>dans<em><strong>ons</strong></em></td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>dans<em><strong>es</em></strong></td>
          <td>Vous</td>
          <td>dans<em><strong>ez</em></strong></td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>dans<em><strong>e</em></strong></td>
          <td>Ils, elles</td>
          <td>dans<em><strong>ent</em></strong></td>
        </tr>
      </table>
    </div>
      <p> There are some ER verbs that end in "-ger."
        These verbs still follow the same basic pattern, but notice how in the <em>nous</em> form, the ending keeps the "e."
        This reflects pronunciation and is left to show that the "g" is still pronounced like a "j" and not a "g" like in "golf."
      </p>
      <div class="example">
      <table class="table1">
        <caption>Manger - To eat</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>mang<em><strong>e</strong></em></td>
          <td>Nous</td>
          <td>mang<em><strong>eons</strong></em></td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>mang<em><strong>es</em></strong></td>
          <td>Vous</td>
          <td>mang<em><strong>ez</em></strong></td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>mang<em><strong>e</em></strong></td>
          <td>Ils, elles</td>
          <td>mang<em><strong>ent</em></strong></td>
        </tr>
      </table>
      <table class="table2">
        <caption>Nager - To swim</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>nag<em><strong>e</strong></em></td>
          <td>Nous</td>
          <td>nag<em><strong>eons</strong></em></td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>nag<em><strong>es</em></strong></td>
          <td>Vous</td>
          <td>nag<em><strong>ez</em></strong></td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>nag<em><strong>e</em></strong></td>
          <td>Ils, elles</td>
          <td>nag<em><strong>ent</em></strong></td>
        </tr>
      </table>
    </div>
      <p class="practice"> Ready to try out what you learned? Review present tense ER verbs here! </p>
    <h3> Regular IR Verbs </h3>
      <p> Similar to the ER verbs, regular IR verbs drop their "<em>-ir</em>" endings and add new ones depending on what person they are in.
          The endings look different, but they function in the same way. <br><br>
          Check out the examples below of two IR verbs in the present tense to see how they look:
      </p>
      <div class="example">
      <table class="table1">
        <caption>Choisir - To choose</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>chois<em><strong>is</strong></em></td>
          <td>Nous</td>
          <td>chois<em><strong>issons</strong></em></td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>chois<em><strong>is</em></strong></td>
          <td>Vous</td>
          <td>chois<em><strong>issez</em></strong></td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>chois<em><strong>it</em></strong></td>
          <td>Ils, elles</td>
          <td>chois<em><strong>issent</em></strong></td>
        </tr>
      </table>
      <table class="table2">
        <caption>Finir - To finish</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>fin<em><strong>is</strong></em></td>
          <td>Nous</td>
          <td>fin<em><strong>issons</strong></em></td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>fin<em><strong>is</em></strong></td>
          <td>Vous</td>
          <td>fin<em><strong>issez</em></strong></td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>fin<em><strong>it</em></strong></td>
          <td>Ils, elles</td>
          <td>fin<em><strong>issent</em></strong></td>
        </tr>
      </table>
    </div>
      <p class="practice"> Ready to try out what you learned? Review present tense IR verbs here! </p>
    <h3> Regular RE Verbs </h3>
      <p>This is our last set of truly regular verbs, the RE verbs. Just like the others, we drop the "<em>-re</em>" ending
         and add a new one when conjugating them in the present tense. <br>
         <br> The new endings for these are different as well,
         but there are a few similarities. See if you can find them!
       </p>
       <div class="example">
       <table class="table1">
         <caption>Entendre - To hear</caption>
         <tr class="rowHeader">
           <th>Person</th>
           <th>Conjugation</th>
           <th>Person</th>
           <th>Conjugation</th>
         </tr>
         <tr>
           <td>Je</td>
           <td>entend<em><strong>s</strong></em></td>
           <td>Nous</td>
           <td>entend<em><strong>ons</strong></em></td>
         </tr>
         <tr>
           <td>Tu</td>
           <td>entend<em><strong>s</em></strong></td>
           <td>Vous</td>
           <td>entend<em><strong>ez</em></strong></td>
         </tr>
         <tr>
           <td>Il, elle, on</td>
           <td>entend<em><strong></em></strong></td>
           <td>Ils, elles</td>
           <td>entend<em><strong>ent</em></strong></td>
         </tr>
       </table>
       <table class="table2">
         <caption>Perdre - To lose</caption>
         <tr class="rowHeader">
           <th>Person</th>
           <th>Conjugation</th>
           <th>Person</th>
           <th>Conjugation</th>
         </tr>
         <tr>
           <td>Je</td>
           <td>perd<em><strong>s</strong></em></td>
           <td>Nous</td>
           <td>perd<em><strong>ons</strong></em></td>
         </tr>
         <tr>
           <td>Tu</td>
           <td>perd<em><strong>s</em></strong></td>
           <td>Vous</td>
           <td>perd<em><strong>ez</em></strong></td>
         </tr>
         <tr>
           <td>Il, elle, on</td>
           <td>perd<em><strong></em></strong></td>
           <td>Ils, elles</td>
           <td>perd<em><strong>ent</em></strong></td>
         </tr>
       </table>
     </div>
      <p class="practice"> Click here to review present tense RE verbs! </p>
    <h3 id="irregular"> Irregular Verbs </h3>
      <p>Now we get to the fun ones, <em><strong>irregular verbs!</em></strong>
        <br><br> These verbs don't follow a large, overarching pattern, which is why we call them irregular.
        Many of the most common verbs that you will use are irregular, such as être (to be), avoir (to have), aller (to go), and faire (to make/do).
      </p>
      <p> For many of these, and indeed even the ones we just mentioned, you will have to memorize their patterns.
        Luckily,  there are various "sub-patterns" that some of the verbs follow, which make them a little easier to memorize.
      </p>
      <ul>
        <li><a href="irregular">Here is a list with a few of the sub-patters and examples of their conjugations.</a></li>
        <li>For the complete conjugation table for any irregular verb, check out this website.</li>
      </ul>
      <p> For now, here are some tables for four of the most important French verbs:
      </p>
      <div class="example">
      <table class="table1">
        <caption>Être - To be</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>suis</td>
          <td>Nous</td>
          <td>sommes</td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>es</td>
          <td>Vous</td>
          <td>êtes</td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>est</td>
          <td>Ils, elles</td>
          <td>sont</td>
        </tr>
      </table>
      <table class="table2">
        <caption>Avoir - To have</caption>
        <tr class="rowHeader">
          <th>Person</th>
          <th>Conjugation</th>
          <th>Person</th>
          <th>Conjugation</th>
        </tr>
        <tr>
          <td>Je</td>
          <td>ai</td>
          <td>Nous</td>
          <td>avons</td>
        </tr>
        <tr>
          <td>Tu</td>
          <td>as</td>
          <td>Vous</td>
          <td>avez</td>
        </tr>
        <tr>
          <td>Il, elle, on</td>
          <td>a</td>
          <td>Ils, elles</td>
          <td>ont</td>
        </tr>
      </table>
    </div>
    <div class="example">
    <table class="table1">
      <caption>Aller - To go</caption>
      <tr class="rowHeader">
        <th>Person</th>
        <th>Conjugation</th>
        <th>Person</th>
        <th>Conjugation</th>
      </tr>
      <tr>
        <td>Je</td>
        <td>vais</td>
        <td>Nous</td>
        <td>allons</td>
      </tr>
      <tr>
        <td>Tu</td>
        <td>vas</td>
        <td>Vous</td>
        <td>allez</td>
      </tr>
      <tr>
        <td>Il, elle, on</td>
        <td>va</td>
        <td>Ils, elles</td>
        <td>vont</td>
      </tr>
    </table>
    <table class="table2">
      <caption>Faire - To make/do</caption>
      <tr class="rowHeader">
        <th>Person</th>
        <th>Conjugation</th>
        <th>Person</th>
        <th>Conjugation</th>
      </tr>
      <tr>
        <td>Je</td>
        <td>fais</td>
        <td>Nous</td>
        <td>faisons</em></td>
      </tr>
      <tr>
        <td>Tu</td>
        <td>fais</td>
        <td>Vous</td>
        <td>faites</td>
      </tr>
      <tr>
        <td>Il, elle, on</td>
        <td>fait</td>
        <td>Ils, elles</td>
        <td>font</td>
      </tr>
    </table>
  </div>
      <p class="practice"> To review irregular verbs, click here.</p>
    <h2 id="basicTense"> Beginner Tenses </h2>
    <h2 id="helpingVerb"> Helping Verbs </h2>
    <h2 id="intermediateTense"> Intermediate Tenses</h2>
    <h2 id="advancedTense"> Advanced Tenses </h2>
    <h2 id="expertTense"> Expert Tenses </h2>
    <h2 id="bonusTense"> Bonus Tense </h2>
    <script src="library.js" charset="utf-8"></script>
    <script src="verbs.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
