<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Verbs Overview</title>
    <style>
    body {
      text-align:left;
      font-family: sans-serif;
      margin: 80px;
    }
    </style>
  </head>
  <body>
    <h1>Overview of Verbs</h1>
    <script src="library.js" charset="utf-8"></script>
    <script src="verbs.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </body>
</html>
