<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Review</title>
    <style>
    body {
      text-align:center;
      padding-top: 50px;
      font-family: sans-serif;
    }
    #cardButton {
      background-color: white;
      height: 300px;
      width: 500px;
    }
    #backButton {
      background-color: lightgray;
      height: 50px;
      width: 100px;
    }
    #nextButton {
      background-color: lightgray;
      height: 50px;
      width: 100px;
    }
    #homeButton {
      background-color: cornflowerblue;
      border: none;
      color: white;
      padding: 15px 132px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
    option.basic {
      background-color: lightblue;
    }
    option.intermediate {
      background-color: palegreen;
    }
    option.advanced {
      background-color: lemonchiffon;
    }
    option.expert {
      background-color: peachpuff;
    }
    option.bonus {
      background-color: lightcoral;
    }
    </style>
  </head>
  <body>
    <div id = "reviewGame">
        <h1> Conjugaison!</h>
        <h4> Click through the cards to review your tenses.</h4>
        <p> Clicking the card will flip it over the show the answer. <br>
          When you are ready to go to the next card, click "next." </p>
    </div>

    <form action="/review">
      <label for="type">Regular/Irregular:</label>
      <select id="type" name "type">
        <option value="all"> All </option>
        <option value="Irregular">Irregular</option>
        <option value="Regular -er">Regular -ER </option>
        <option value="Regular -re">Regular -RE </option>
        <option value="Regular -ir">Regular -IR </option>
      </select>
      <label for="tense">Tense/Mood:</label>
      <select id="tense" name "tense">
        <option value="all_all"> All </option>
        <option class="basic" id="p" value="présent_indicatif">présent, indicatif</option>
        <option class="basic" id="pc" value="passé composé_indicatif">passé composé, indicatif</option>
        <option class="basic" value="futur simple_indicatif">futur simple, indicatif</option>
        <option class="intermediate" value="imparfait_indicatif">imparfait, indicatif</option>
        <option class="intermediate" value="présent_conditionnel">présent, conditionnel</option>
        <option class="intermediate" value="présent_impératif">présent, impératif</option>
        <option class="advanced" value="plus-que-parfait_indicatif">plus-que-parfait, indicatif</option>
        <option class="advanced" value="futur antérieur_indicatif">futur antérieur, indicatif</option>
        <option class="advanced" value="présent_subjonctif">présent, subjonctif</option>
        <option class="expert" value="passé_conditionnel">passé, conditionnel</option>
        <option class="expert" value="passé_subjonctif">passé, subjonctif</option>
        <option class="bonus" value="passé simple_indicatif">passé simple, indicatif</option>
      </select>
      <input type="button" value="Apply" id="applyButton">
    </form>

    <div id = "reviewCard">
        <button id = "cardButton">
            <div id = "cardContent">
                <h1 id = "topHalf"></h1>
                <h5 id = "englishHalf"></h5>
                <h3 id = "bottomHalf"></h3>
            </div>
        </button>
    </div>
    <p></p>
    <button id = "backButton">Back</button>
    <button id = "nextButton">Next</button>
    <p></p>
    <a href="/" id = "homeButton">Return to Home</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="library.js" charset="utf-8"></script>
    <script src="verbs.js" charset="utf-8"></script>
    <script src="reviewScript.js" charset="utf-8"></script>
  </body>
</html>
