#overviewButton {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#reviewButton {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#quizButton {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
